.formWrapper {
    position: absolute !important;
    top: -20;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.formContainer {
    background-color: #faf0e696;
    /* background: linear-gradient(#faf0e6, #faf0e6a2); */
    max-width: 100%;
    position: absolute;
    top: 15vh;
    /* left: ; */
    /* min-width: 500px; */
    min-height: 700px;
    backdrop-filter: blur(20px);
    border-radius: 2rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #b6b3b3;
    padding: 5%;
}

.formContainer h2 {
    font-weight: 600;
    font-size: 2em;
    background: linear-gradient(to right, var(--foreground), var(--brown) 60%);
    background-clip: text;
    color: transparent;
    padding-bottom: 1rem;
}

.formInputWrapper {
    position: relative;
    display: flex;
    padding-top: 1.5rem;
}

.formInputWrapper label {
    position: absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* padding: 0.25em; */
    transform: translate(15px, -17.5px);
    backdrop-filter: blur(20px);
    /* color: var(--brown); */
    border-radius: 2%;
    font-weight: 600;
    border-radius: 10%;
    padding-left: 5px;
    padding-right: 5px;
}

.formInputWrapper input,
.formInputWrapper textarea {
    width: 300px;
    border: 0.25px solid;
    border-radius: 7.5px;
    box-shadow: 2.5px 2.5px 5px rgba(0, 0, 0, 0.2);
    /* backdrop-filter: blur(20px);
    overflow: hidden; */
}

.formContainer form button {
    margin-top: 1rem;
    min-width: 100px;
    background: var(--brown);
    font-weight: 600;
    color: aliceblue;
    padding: 5px;
    border-radius: 2em;
    transition: all 0.3s ease;
    backdrop-filter: blur(20px);
}

.formContainer form button:hover {
    background: transparent;
    /* border-color: var(--brown); */
    border: 1px solid var(--brown);
    color: var(--brown);
}